@import "../../../mixins.scss";
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  max-width: 376px;
  max-height: 210px;
  cursor: grab;
  img {
    transition: all 0.4s ease;
  }
  &:hover {
    img {
      transform: scale(1.1, 1.1);
    }
  }
}
.cardTitle {
  position: absolute;
  z-index: 1;
  max-width: 161px;
  line-height: 28px;
  font-size: 23px;
  font-weight: 700;
  color: #333333;
  top: 30px;
  left: 30px;
}
@include respon(768px) {
  .card {
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
  }
}
