@import "../../variables.scss";
@import "../../mixins.scss";
.overmodal {
  width: inherit;
  background-color: #fff;
  height: 100vh;
  z-index: 50;
  position: fixed;
  top: 0;
  bottom: 0;
}
.header-botm-icon {
  &:hover {
    color: $borderG;
  }
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.overmodal-in{
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 30%;
  height: 100vh;
}