@import '../../../mixins.scss';
.HeaderBootm {
  min-height: 126px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.header-botm-link{
  display: block;
  max-width: 125px;
}
.header-top-buttons{
  display: flex;
  align-items: center;
  justify-content: end;

  li{
    padding: 0 7.5px;
    cursor: pointer;
    color: #555;
    font-size: 28px;
  }
}
.header-botm-menu{
  display: none;
}
.header-botm-form{
  display: flex;
  align-items: center;
  label{
    width: 100%;
    border: 1px solid #ccc;
    input{
      width: 95%;
      border: none;
      outline: none;
      color: #000000bf;
      font-size: 14.5px;
      padding: 14px;
    }
  }
  button{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    padding: 15px 0;
    margin-bottom: 1px;
    opacity: .9;
    text-transform: uppercase;
    font-size: 13.05px;
    min-width: 130px;
    background-color: #6bad0d;
  }
}
.header-top-search-icon{
  display: none;
}

@include respon(768px){
  .header-top-user-icon{
    display: none;
  }
  .header-top-heart-icon{
    display: none;
  }
  .header-top-search-icon{
    display: block;
  }
  .header-botm-icon{
    font-size: 28px;
  }
}
@include respon(1024px){
  
  .HeaderBootm{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 62px;
  }
  
  .header-botm-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .header-botm-form{
    display: none;
  }
  .header-botm-menu{
    background-color: transparent;
    display: block;
    font-size: 28px;
    border: none;
    cursor: pointer;
  }
}
