.product-card {
  margin-top: 40px;
  padding: 0 10px;
}
.product-card-img-block {
  cursor: pointer;
  position: relative;
  width: 100%;
  transition: all 0.4s ease;
  overflow: hidden;
}

.product-card-img2 {
  left: 0;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  transition: all 1s ease;
}
.product-card-img-block:hover {
  .product-card-img2 {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
}
.product-card-list {
  position: absolute;
  top: 10px;
  right: 10px;
  li {
    margin-bottom: 10px;
  }
  a {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    background: #fff;
    color: #333;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.226);
    width: 30px;
    height: 30px;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
    }
    span {
      transition: all 0.4s ease;
      opacity: 0;
      z-index: -1;
      position: absolute;
      display: inline-block;
      background: #383838;
      color: #fff;
      padding: 8px 10px;
      font-size: 12px;
      line-height: 12px;
    }
    &:hover {
      background-color: #333;
      color: #fff;
      span {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
.product-card-wish {
  left: -136px;
  &::after {
    content: "";
    position: absolute;
    left: 128px;
    bottom: 8px;
    border: 6px solid transparent;
    border-top: 5px solid #383838;
    transform: rotate(269deg);
  }
}
.product-card-quick {
  left: -102px;
  &::after {
    content: "";
    position: absolute;
    left: 95px;
    bottom: 8px;
    border: 6px solid transparent;
    border-top: 5px solid #383838;
    transform: rotate(269deg);
  }
}
.product-card-compare {
  left: -88px;

  &::after {
    content: "";
    position: absolute;
    left: 79px;
    bottom: 8px;
    border: 6px solid transparent;
    border-top: 5px solid #383838;
    transform: rotate(269deg);
  }
}

.product-card:hover {
  a {
    opacity: 1;
  }
}
.product-card-name {
  margin-top: 15px;
  span {
    transition: all 0.4s ease;
    font-size: 16.5px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #6bad0d;
    }
  }
}
.product-card-prises {
  overflow: hidden;
  height: 40px;
  position: relative;
  margin-top: 12px;

  button {
    top: 100%;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: start;
    padding: 0;
    cursor: pointer;
    color: #333;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
    &::before {
      content: "";
      position: absolute;
      top: 112%;
      left: 0;
      width: 100%;
      height: 1px;
      transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
      background-color: rgba(101, 101, 101, 0.15);
    }
    &::after {
      content: "";
      position: absolute;
      top: 112%;
      left: 0;
      width: 0;
      background-color: #6bad0d;
      height: 1px;
      transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
    }
    font-size: 16.5px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #6bad0d;
      &::after {
        width: 100%;
      }
    }
  }
}
.product-card-prise {
  position: absolute;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.product-card:hover {
  .product-card-prise {
    transform: translateY(-100%);
  }
  .product-card-prises {
    button {
      top: 0;
    }
  }
}
.product-card-sale {
  position: absolute;
  padding: 4.5px 10px;
  background-color: #83b738;
  border-radius: 3px;
  font-weight: 700;
  opacity: 0.8;
  line-height: 1.1;
  font-size: 11.6px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  left: 10px;
  top: 10px;
}
.products-sale {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
// Big CArd
.sale-products {
  flex-grow: 1;
}
.sale-products {
  cursor: grab;
}
.sale-product-title {
  font-weight: 800;
  font-size: 27.55px;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #333;
  transition: 0.3s;
  &:hover {
    color: #6bad0d;
  }
}
.sale-product-prises {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sale-product-salecount {
  color: #aaa;
  font-weight: 400;
  text-decoration: line-through;
  font-size: 22px;
}
.sale-product-price {
  color: red;
  font-weight: 400;
  font-size: 22px;
}
.sale-product-prises {
  margin-bottom: 20px;
}
.sale-products-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  li {
    margin-right: 10px;
    text-align: center;
    span {
      background: 0 0;
      color: #f30;
      border: 1px solid #ddd;
      font-weight: 700;
      padding: 15px 0;
      border-radius: 4px;
      width: 50px;
      font-size: 17.4px;
      display: block;
    }
  }
}
.sale-avlable {
  margin-bottom: 12px;
  color: #555;
}

.sale-product-statistik {
  width: 100%;
  background: #efefef;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 10px;
  span {
    display: block;
    height: 10px;
    background: #6bad0d;
    border-radius: 5px;
  }
}
.sale-product-add-card {
  background-color: #6bad0d;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  min-width: 200px;
  color: #fff;
  border: none;
  cursor: pointer;
}
