.home-slider-botm-item {
  text-align: center;
}
.home-slider-botm-icon {
  font-size: 37px;
  color: #6bad0d;
}
.home-slider-botm-title {
  color: #222222;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 17.4px;
  font-weight: 800;
}
.home-slider-botm-text{
  color: #999999;
}
